# Confirm before overwriting
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm  -i'

# Git
alias gt='git lg'

# GPG
alias gpg-refresh='gpg --keyserver-options no-self-sigs-only --refresh-keys'

# Replace program
alias cat='bat'
alias ls='exa --group --color=always --group-directories-first'
alias lt='exa -aT --color=always --group-directories-first'
alias l.='exa -a | egrep "^\."'
alias top='btop'

# Other
alias hs='history | grep'
pdfs() {
    pdfgrep -i "$1" *.pdf
}

# Fun
alias sl='sl | lolcat'

