# Confirm before overwriting
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm  -i'

# Git
alias gt='git lg'
alias gdmb='git delete-merged-branches'
alias gcu='gfa && g prune && gdmb && gh poi'

# GPG
alias gpg-refresh='gpg --keyserver-options no-self-sigs-only --refresh-keys'

# Replace program
alias ls='eza --group --color=always --group-directories-first'
alias lt='eza -aT --color=always --group-directories-first'
alias l.='eza -a | egrep "^\."'
alias top='btop'
alias fd='fd --no-ignore-vcs'
alias cp='rsync -aAXh --info=progress2'

# Other
alias hs='history | grep'
pdfs() {
    pdfgrep -i "$1" *.pdf
}

# Fun
alias sl='sl | lolcat'

