[user]
	email = mail@monsi.org
	name = Simon Kreuzer
	signingkey = 70B93DD20D23FE5F!
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[pull]
    rebase = true
[core]
	autocrlf = input
    pager = delta
[sequence]
    editor = interactive-rebase-tool
